html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #eeeeff;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#header {
    position: absolute;
    z-index: 9997;
    top: 0px;
    width: 100%;
}

#header h1 {
    font-weight: bold;
    color: #ff9900;
    text-align: center;
//    vertical-align: middle;
    font: 50px/40px "Arial Black", "Helvetica Black", Gadget, sans-serif;
    text-shadow: 1px 1px 0 #4444dd;
    height: 7.5%;
    margin: 0 0 10px 0;
    padding: 5px;
}

#map_section {
    height: 100%;
    width: 100%;
}

#buttons {
    font-size: 80%;
    position: absolute;
    bottom: 90px;
    z-index: 9997;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
}

.pseudobutton {
//    margin: 0.5em;
    text-decoration: none;
    color: white;
    margin: 0 0 0 1em;
    padding: 0.5em;
    background-color: #9966ff;
    border: solid 2px #ff7700;
    opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pseudobutton a {
}

#popup_container {
    display: block;
    position: fixed;
    z-index: 9998;
    right: 100px;
    bottom: 100px;
    opacity: 0.8;
}

.popup {
    position: relative;
    width: 500px;
    margin: 10% auto 0px auto;
    padding: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 0 25px #d0d0d0;
    background-color: #9966ff;
    opacity: 1 !important;
    z-index: 5;
    font-size: 75%;
}

.popup_closer {
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: 200%;
    color: white;
}

#map_canvas { 
    height: 100%; 
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 30px;
    z-index: 9997;
    display: table;
    width: 100%;
    font-size: 80%;
    background-color: #eeeeee;
    opacity: 0.8;
    height: 3em;
}

#message_pad {
  height: 100%;
  padding: 0.25em;
}

progress {
    vertical-align: middle;
    height: 50%;
    margin: 10px 0 10px 0;
}

.statusbar_cell {
    display: table-cell;
}

fieldset label {
    font-weight: bold;
    padding: 0px 10px 0px 0px;
    min-width: 300px !important;
}

.dialog {
    position: relative;
    width: 500px;
    margin: 10% auto 0px auto;
    padding: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 0 25px #d0d0d0;
    background-color: #9966ff;
    opacity: 1 !important;
    z-index: 5;
}

.dialog fieldset {
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #ff7700;
    opacity: 1.0 !important;
}

.dialog fieldset legend {
    background-color: #ff9900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #6633cc;
    padding: 10px 10px 10px 10px;
    opacity: 1.0 !important;
}

#overlay {
    display: block;
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    background-color:rgba(192, 192, 192, 0.5);
}

#spinner{
    position:relative;
    width:20px;
    height:20px;
}

#bowl_ringG{
    position:absolute;
    width:20px;
    height:20px;
    border:2px solid #eebb33;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
}

.ball_holderG{
    position:absolute;
    width:5px;
    height:20px;
    left:7px;
    top:0px;
    -moz-animation-name:ball_moveG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:ball_moveG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:ball_moveG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:ball_moveG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:ball_moveG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.ballG{
    position:absolute;
    left:0px;
    top:-5px;
    width:8px;
    height:8px;
    background:#6622aa;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    border-radius:7px;
}

@-moz-keyframes ball_moveG{
    0%{
    -moz-transform:rotate(0deg)
    }
    
    100%{
    -moz-transform:rotate(360deg)
    }
}

@-webkit-keyframes ball_moveG{
    0%{
    -webkit-transform:rotate(0deg)
    }
    
    100%{
    -webkit-transform:rotate(360deg)
    }
}

@-ms-keyframes ball_moveG{
    0%{
    -ms-transform:rotate(0deg)
    }
    
    100%{
    -ms-transform:rotate(360deg)
    }

}

@-o-keyframes ball_moveG{
    0%{
    -o-transform:rotate(0deg)
    }
    
    100%{
    -o-transform:rotate(360deg)
    }

}

@keyframes ball_moveG{
    0%{
    transform:rotate(0deg)
    }
    
    100%{
    transform:rotate(360deg)
    }
}
