<!DOCTYPE html>
<html>
  <head>
    <title>Migra ancestry mapping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/migra.css" />
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script type="text/javascript" src="/static/js/oms.min.js"></script>
    <script type="text/javascript" src="/static/js/migra.js"></script>
  </head>
  <body>
        <section id="map_section">
            <header><h1>Migra ancestry mapping</h1></header>
            <div id="map_canvas"></div>
            <footer>
                <div id="statusBar" style="display: table-row; width: 100%">
                    <div id="message_pad" class="statusbar_cell" style="width: 50%">Ready.</div>
                    <div class="statusbar_cell" style="width: 30%">
    	        	    <progress id="progressBar" value="0" max="100" style="width: 100%; height: 100%">&nbsp;</progress>
    		        </div>
                    <div id="percentageCalc" class="statusbar_cell" style="width: 10%; display: none">&nbsp;</div>
                    <div id="spinnercontainer" class="statusbar_cell" style="width: 10%;">
                        <div id="spinner">
                            <div id="bowl_ringG">
                                <div class="ball_holderG">
                                    <div class="ballG">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
<!--
        <section id="experimental" style="display: none;">
        <form action="javascript:showMigrations();"><input type="submit" value="Show Migrations" /></form>
        </section>
-->

        <div id="overlay">
            <div id="upload_form_wrapper" class="dialog" style="display: none;" >
                 <form id="upload_form" action="/upload" >
                     <fieldset>
                         <legend>Upload your genealogy data</legend>
                         <dl class="formfields">
                             <dt><label for="gedcom" id="file_label">GEDCOM</label></dt>
                             <dd>
                                 <input type="file" required placeholder="A Gedcom file" name="gedcom" id="gedcom" />
                             </dd>
                             <dt><label for="q" id="q_label" >Search</label></dt>
                             <dd>
                                 <input name="q" id="query_string" placeholder="Search term" />
                             </dd>
                         </dl>
                         <input type="submit"></input>
                     </fieldset>
                     <p style="font-size: 75%">
                     GEDCOM is the standard genealogy file structure. 
                     Your online genealogy site or desktop program should be 
                     capable of generating GEDCOM files. These files can get 
                     quite big, and larger files increase processing time.
                     </p>
                 </form>
            </div>
            <div id="walk_form_wrapper" class="dialog" style="display: none;">
                <form id="walk_form" action="/walk" >
<!--
                    <input type="hidden" name="sid" id="sid"/>
-->
                    <fieldset>
                        <legend>Whose ancestors are we mapping?</legend>
                        <dl class="formfields">
                            <dt>
                                <label for="i" id="i_label">Focal individual</label>
                            </dt>
                			<dd>
                                <select name="i" id="i_select">
                                </select>
                            </dd>
                            <dt>
                                <label for="d" id="d_label">Depth</label>
                            </dt>
    			            <dd>
                                <select name="d" id="depth">
                                    <option value="1">Parents</option>
                                    <option value="2">Grandparents</option>
                                    <option value="3">Great grandparents</option>
                                    <option value="4">Great-great grandparents</option>
                                    <option value="5">3rd great grandparents</option>
                                    <option value="6">4th great grandparents</option>
                                    <option value="7">5th great grandparents</option>
                                    <option value="8">6th great grandparents</option>
                                </select>
                            </dd>
                        </dl>
                        <input type="submit"></input>
                    </fieldset>
                    <p style="font-size: 75%">
                    The <q>focal individual</q> is the person whose ancestors you want to see. 
                    Each level of ancestry can roughly double the amount of processing time to
                    map all the locations. Mapping can take a while because the google maps API
                    throttles the number of requests a given computer can make.
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
